<section class="section">
	<h2 class="title">Cinema</h2>
</section>

<section class="section">
<div class="container">
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>
 <div class="row">
      <% @lists.each_with_index do |list, index| %>
        <div class="column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path("list_background_#{index + 1}.jpg") %>)">
          <%= link_to list_path(list), class:"text-decoration-none" do %>
          <h5 class="title"><%= list.name %></h5>
          <% end %>

        </div>
      <% end %>
</div>
</div>
</section>
